.card{
    width: 20%;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 2%;
    }

.image img{
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px; 
 }

.title{ 
    text-align: center;
    padding: 5px;  
 }

h1{
    font-size: 20px;
 }

.des{
    padding: 3px;
    text-align: center; 
    padding-top: 10px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
button{
    margin-top: 40px;
    margin-bottom: 10px;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding:10px;
}
button:hover{
    background-color: rgb(66, 65, 65);
    color: white;
    transition: .5s;
    cursor: pointer;
}
/*KART BİTİŞ*/

.card {
    float: left;
}
.kartlar {
    margin-left: 5px;
    margin-top: 585px;
}
.kartlar-2 {
    margin-left: 25px;
}

.kart-3{
    position: relative;
    top: 0px;
}


.kart-4{
    position: relative;
    top: 0px;
}